runner.env
.vscode
**/.cache
**/.config
.server

rosm.cache
.RData
*.Rproj
lib/

# R temporary files
.Rproj.user
.Rhistory
.RData
.RDataTmp*
.Ruserdata
._.Rhistory

# mac system files
**/._*
**/.DS_Store
