# Auto detect text files and perform LF normalization https://tsalikis.blog/posts/gitattributes/
# Also https://delitescere.medium.com/docker-file-permissions-and-line-endings-9aced07d70f8
# Not sure if the eol=lf needs to be specified
* text=auto eol=lf

# Perhaps specify for every file type?
*.sh text eol=lf
*.conf text eol=lf
*.R text eol=lf
*.r text eol=lf
*.py text eol=lf
*.yml text eol=lf
*.jl text eol=lf

# Any Windows file should be kept to crlf
*.bat	text eol=crlf
*.cmd	text eol=crlf