runner.env
.vscode
**/.cache
**/.config
.server

rosm.cache
.RData
*.Rproj
lib/

# Version file of the last run BON in a Box server
serverVersion.txt

# R temporary files
.Rproj.user
.Rhistory
.RData
.RDataTmp*
.Ruserdata
._.Rhistory

# mac system files
**/._*
**/.DS_Store
