.left-banner {
  float: left;
  min-height: 100vh;
  background-color: #f3f3f1;
}

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

.spinner {
  height: 10vmin;
  margin:3vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .spinner {
    animation: spin infinite 4s linear;
  }
}

.App-header { 
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes inflate {
  from { transform: scale(0); }
  to { transform: scale(1); }
}
