a {
  color:lightskyblue
}

.left-banner {
  float: left;
  min-height: 100vh;
  background-color: #f3f3f1;
}

.App {
  background-color: #282c34;
  height: 100vh;
  color: #f3f3f1;
  overflow: scroll;
  padding-left:30px;
  padding-right:30px;
}

.spinner {
  height: 10vmin;
  margin:3vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .spinner {
    animation: spin infinite 4s linear;
  }
}

.App-header { 
  text-align: center;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.error {
  background-color: lightgray;
  color: darkred;
  font-weight: bold;
}

.map {
  height: 70vmin;
  border: 1px solid red;
}

.outputTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.outputTitle h3 {
  display: inline-block;
  margin: 0.5em 1em 0.5em 0em;
}

.inputfile {
  overflow: hidden;
  white-space: pre; /*don't break horizontal lines in two*/
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes inflate {
  from { transform: scale(0); }
  to { transform: scale(1); }
}
