nav {
  padding-top: 1em;
  padding-bottom: 1em;
}

a {
  color:lightskyblue;
}
a.active {
  color:white;
  text-decoration: none
}

.clickable {
  cursor: pointer;
}

.left-banner {
  float: left;
  min-height: 100vh;
  background-color: #f3f3f1;
}

.right-content {
  background-color: #282c34;
  height: 100vh;
  color: #f3f3f1;
  overflow: auto;
  padding-left:30px;
  padding-right:30px;
}

.spinner {
  height: 2em;
  margin: 1em;
  pointer-events: none;
}

.spinner-inline {
  height: 1em;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .spinner, .spinner-inline {
    animation: spin infinite 4s linear;
  }
}

.App-header { 
  text-align: center;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.error, .warning {
  background-color: lightgray;
  font-weight: bold;
  white-space: pre;
  min-height: 1.6em;

  padding-left: 2em;
  padding-top: 0.4em;

  background-size: 2em 2em;
  background-repeat: no-repeat;
}


.error-inline {
  height: 2em;
  display:inline;
  /* Compensate for margins that are in the vector graphic */
  margin: 0em 0em -0.55em -0.5em;
}

.error {
  color: hsl(0, 100%, 27%);
  background-image: url(img/error.svg);
}

.warning {
  color: rgb(0, 0, 0);
  background-image: url(img/warning.svg);
}

.outputDescription {
  font-size: small;
  font-style: italic;
}

.map {
  height: 70vmin;
  border: 1px solid red;
}

.outputTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.outputTitle h3 {
  display: inline-block;
  margin: 0.5em 1em 0.5em 0em;
}

.outputContent {
  padding-left: 0.7em;
  margin-left: 0.1em;
}

.outputContent p {
  margin-top:0px;
}

.foldableScriptResult .outputContent {
  border-left: 0.4em solid #71AAB0;
}

.foldableOutput .outputContent {
  border-left: 0.4em solid #115CA2;
}

table { 
  border-collapse: collapse;
  margin-bottom: 0.5em;
}

th, td {
  border: 1px solid #f3f3f1;
  padding: 3px 5px;
}

.inputFile {
  overflow: hidden;
  white-space: pre; /*don't break horizontal lines in two*/
}

.blackText {
  color: black;
}

.dot-green {
  height: 1em;
  width: 1em;
  background-color: #168D78;
  border-radius: 50%;
  display: inline-block;
}

.gray {  
  color: #aaaaaa;
}

.logs {
  border:1px solid #414855;
  max-height: 30em;
  overflow:auto;
  padding: 0.5em;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes inflate {
  from { transform: scale(0); }
  to { transform: scale(1); }
}
