
table.inputFileFields {
    width: 100%;
}

table.inputFileFields label {
    display: block;
    margin-bottom: 0.5rem;
}

table.inputFileFields tr:hover {
    background-color: #f3f3f111;
}

table.inputFileFields td {
    padding: 0.5rem;
    vertical-align: top;
    border: none;
}

table.inputFileFields td.inputCell {
    width: fit-content;
}

table.inputFileFields td.descriptionCell {
    white-space: pre-wrap;
}

@media all and (max-width: 599px) {
    table, thead, tbody, th, td, tr {
        display: block;
    }
}