name: Julia Runner

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - '*staging'
    paths:
      - '.github/workflows/docker_runner-julia.yml'
      - 'runners/julia/**'

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}/runner-julia
  # Get base image platforms with
  # docker buildx imagetools inspect julia:1.12 | grep Platform
  # Excluding windows/amd64 for now since we would need a separate builder.
  PLATFORMS: linux/amd64,linux/arm64/v8,linux/386


jobs:
  runner-julia:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write

    steps:
      - name: Check out the repo
        uses: actions/checkout@v4

      - name: Log in to GitHub Packages
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: QEMU setup
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Extract metadata (tags, labels) for Docker
        id: metadata-main
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME}}
          tags: |
            # Image used in compose file
            type=raw,value=${{ (github.ref_name == 'main' && 'latest') || github.ref_name }}
            # In case we want to replicate a specific legacy setup
            type=sha,value=${{ github.sha }}
          labels: |
            org.opencontainers.image.licenses=GPL-v3
            org.opencontainers.image.title=BON in a Box Julia Runner

      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@v6
        with:
          context: runners/julia
          file: runners/julia/julia-dockerfile
          platforms: ${{ env.PLATFORMS }}
          push: true
          tags: ${{ steps.metadata-main.outputs.tags || steps.metadata-staging.outputs.tags }}
          labels: ${{ steps.metadata-main.outputs.labels || steps.metadata-staging.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Generate artifact attestation
        uses: actions/attest-build-provenance@v2
        with:
          subject-name: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME}}
          subject-digest: ${{ steps.push.outputs.digest }}
          push-to-registry: true