name: On push, any branch

on: [push]
# TODO change pipeline-repo-actions to main
jobs:
  run-yml-validation:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/checkout@v4
      with:
        # Repository name with owner. For example, actions/checkout
        # Default: ${{ github.repository }}
        repository: 'GEO-BON/bon-in-a-box-pipeline-engine.git'

        # The branch, tag or SHA to checkout. When checking out the repository that
        # triggered a workflow, this defaults to the reference or SHA for that event.
        # Otherwise, uses the default branch.
        ref: 'main'

        # Relative path under $GITHUB_WORKSPACE to place the repository
        path: '.server'

    - name: Creating empty runner.env
      working-directory: .
      run: touch runner.env
      shell: bash
    - name: Script and pipelines basic validation
      working-directory: .
      run: .server/prod-server.sh validate
      shell: bash